.header,
.content,
.footer,
.sidebar,
.hero-image,
.ocean-statistic,
.partner,
.contact,
.navigation,
.search {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
    align-items: center;
}

.header {
    background-color: lightblue;
}

.navigation {
    background-color: forestgreen;
}

.search {
    background-color: lightcoral;
}

.hero-image,
.ocean-statistic {
    height: 360px;
}

.hero-image {
    background-color: lightseagreen;
}

.ocean-statistic {
    background-color: orangered;
}

.content {
    background-color: orange;
}

.sidebar {
    background-color: yellow;
}

.content,
.sidebar {
    height: 480px;
}

.contact {
    background-color: saddlebrown;
    height: 160px;
}

.partner {
    background-color: salmon;
    height: 160px;
}

.footer {
    background-color: gold;
}